button{
    padding: 10px 15px;
    background-color: #FAFAD2;
    border: none;
    color: #8B4513;
}

.add-btn{
    display: block;
    float: right;
    margin: 10px 35px;
    padding: 15px 25px;
    font-weight: 600;
}
.add-btn:hover{
    color: #FAFAD2;
    background-color: #8B4513;
}

td button{
    margin-right: 3px;
}

.users--list, .groups--list{
    width: 1000px;
    margin: 0 auto;
}

.form-group{
    margin-top: 15px;
    margin-left: 10px;
}

label{
    margin-top: 10px;
    padding-bottom: 10px;
}

.btn-primary{
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    color: #FAFAD2;
    background-color: #8B4513;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: #A0522D;
}
.form-control{
    width: 1000px;
}

select{
    width: 110;
    height: 30;
    margin: 0 10px;
}